<link rel="stylesheet" href="/CSS/home.css">
<p class="main-heading">Post you perfect <i>Rental home</i></p>
<% if(locals.user) { %>
    <div id="post-property-container">
        <form action="/users/post-property" method="POST">
            <input type="text" name="city" placeholder="City" required>
            <textarea name="address" placeholder="Address" required></textarea>
            <input type="number" name="bedrooms" placeholder="Total badrooms" required>
            <input type="number" name="bathrooms" placeholder="Total bathrooms" required>
            <input type="text" name="nearby" placeholder="Neary By eg. hospital,colleges etc" required>
            <button type="submit">Post Property</button>
        </form>
    </div>
    <% } %>


        <ul class="property-list-container">
            <% properties.forEach((property)=> { %>

                <div class="property-container">
                    <a href="/users/delete-property/<%=property._id%>">X</a>

                    <li>
                        City: <%= property.city %>
                    </li>
                    <li>
                        Address: <%= property.address %>
                    </li>
                    <li>
                        Bathrooms: <%= property.bathrooms %>
                    </li>
                    <li>
                        BedRooms: <%= property.bedrooms %>
                    </li>
                    <li>
                        NearBy <%= property.nearby %>
                    </li>

                    <button class="interested-btn">Interested</button>

                    <div class="owner-info">
                        <h4>Owner Contact details!!</h4>
                        <span>
                            <%= property.user.firstName%>
                        </span>
                        <span>
                            <%= property.user.lastName %>
                        </span>
                        <p>
                            <%= property.user.email %>
                        </p>
                        <p>
                            <%= property.user.phone %>
                        </p>
                    </div>

                </div>
                <% }) %>
        </ul>

        <script src="/JS/home.js
        "></script>